<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        {{ content_for_header }}
        
        {% style %}
            *, *::before, *::after { box-sizing: box; }
        {% endstyle %}

        {{ 'flowbite.min.css' | asset_url | stylesheet_tag }}
        {{ 'style.css' | asset_url | stylesheet_tag }}
        
    </head>
    <body>
        <section>
            {% section 'header' %}
        </section>
        <main class="w-full">
            {{ content_for_layout }}
        </main>
        <script src="{{ "flowbite.min.js" | asset_url }}" defer="defer"></script>
        <script src="{{ "script.js" | asset_url }}" defer="defer"></script>
    </body>
</html>