---
import Base from "./Base.astro";
import { INTERNAL_SERVER } from "astro:env/server"

import { _someCookie } from "@/lib/utils.ts"
import { NavbarUser } from "@/components/navbar.tsx"

type AuthUser = {
    id?: string;
    email?: string;
    user?: string;
    hashed?: string;
    img_thumbnail?: string;
    dated_at?: string;
}

let token = _someCookie(Astro.request.headers.get("cookie"), "token")
, resultData: AuthUser = {};

if (token) {
    let result = await fetch(`${INTERNAL_SERVER}/api/auth/user`, {
        method: "GET",
        headers: {
            "Authorization": `Bearer ${token}`
        }
    })

    resultData = await result.json()
    console.log(resultData)
}

---
<script>
import { navigate } from "astro:transitions/client"
if (!document.cookie) {
    navigate("/auth/signin")
}
</script>

<Base className="min-h-full min-w-full">
    <section class="">
        <div class="border-b min-h-16 mb-8">
            <nav class="flex justify-between items-center h-16 p-4">
                <div>
                    e2ee
                </div>
                {
                    token?.length
                    ? (
                        <NavbarUser id={resultData.id} user={resultData.user} email={resultData.email} thumbnail={resultData.img_thumbnail} client:only="react" />
                    )
                    : (
                        <div>
                            <a href="/auth/signin">
                                sign in
                            </a>                            
                        </div>
                    )
                }
            </nav>
        </div>
    </section>
    <section>
        <slot />
    </section>
    <section>
        <footer>
            footer
        </footer>
    </section>
</Base>
